/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* font */

/* body */
html,
body {
  font-family: "Poppins", sans-serif;
  color: #343a40;
}

.active {
  border-bottom: 2px solid white !important;
}

.profile-image {
  border-radius: 49% 51% 51% 49% / 33% 35% 65% 67%;
  border: 3px solid #343a40;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Contoh shadow */
}

.jumbotron.background {
  background-color: #a8a8a81b;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19); /* Contoh shadow */
}

.card-skill {
  border: 2px solid #a8a8a8 !important;
  filter: grayscale(1);
}

.card-skill:hover {
  border: 2px solid #fdb55e !important;
  filter: grayscale(0);
}

.ph-star-four {
  color: #fdb55e;
}

.form-control:focus {
  box-shadow: 0 0 2px 2px #a8a8a8;
}

a .card {
  border: #8f8f8f 1px solid;
  color: #6b6b6b;
}

a .card:hover {
  border: #fdb55e 1px solid;
  color: #fdb55e;
}

/* body */
